<!-------------- Header Start -------------->
<header>
    <div class="header-bgcolor">
        <div class="container">
            <div class="flex py-lr-30 align-center justify-between">
                <div class="header-img">
                    <img src="/images/<%= logo %>" alt="aero-page-logo" width="147" height="40">
                </div>
                <nav class="navbar">
                    <ul class="flex gap-30">
                        <li>Home</li>
                        <li>Features</li>
                        <li>Faq</li>
                        <li>Porfolio</li>
                        <li>Pricing</li>
                        <li>Service</li>
                        <li>Blog</li>
                        <li class="position-relative">
                            Landing <i class="ri-arrow-down-s-line"> </i>
                            <ul class="dropdown">
                                <li>Agency</li>
                                <li>Agency Two</li>
                                <li>Charity</li>
                                <li>Company</li>
                                <li>Creative</li>
                                <li>Ebook</li>
                                <li>Finance</li>
                                <li>Hosting</li>
                                <li>Marketing</li>
                                <li>Marketing 2</li>
                                <li>Marketing 3</li>
                                <li>Photography</li>
                                <li>Portfolio</li>
                                <li>Portfolio 2</li>
                                <li>Startup</li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="header-btn">
                    <button class="btn"><i class="ri-download-cloud-2-line"></i>Download</button>
                    <i class="ri-menu-line"></i>
                </div>
            </div>
        </div>
    </div>
</header>
<!-------------- Header End -------------->