<section>
    <div class="container">

        <div class="blog flex justify-center py100">

            <div class="col-12">
                <div class="blog-topic text-center">

                    <span class="blog-sub-title">
                        Our Blog
                    </span>

                    <h2 class="blog-title">
                        Read the latest news.
                    </h2>

                </div>
            </div>

            <!-- Blog 1 -->
            <div class="col-4 col-xl-6 col-md-12">

                <div class="blog-contant">

                    <div class="blog-top">
                        <img
                            src="/images/img-1.jpg"
                            alt="Blog Image"
                            width="100%"
                        >
                    </div>

                    <div class="blog-bottom">

                        <h2 class="blog-bottom-title">
                            Free advertising your online business.
                        </h2>

                        <p class="blog-bottom-sub-title">
                            Join us for a transformative event focused on
                            Advancing Innovation and Collaboration.
                        </p>

                        <h3 class="blog-bottom-link">
                            Read More
                            <i class="ri-arrow-right-line"></i>
                        </h3>

                    </div>

                </div>

            </div>

            <!-- Blog 2 -->
            <div class="col-4 col-xl-6 col-md-12">

                <div class="blog-contant">

                    <div class="blog-top">
                        <img
                            src="/images/img-2.jpg"
                            alt="Blog Image"
                            width="100%"
                        >
                    </div>

                    <div class="blog-bottom">

                        <h2 class="blog-bottom-title">
                            Investment monitor top 2023
                        </h2>

                        <p class="blog-bottom-sub-title">
                            Join us for a transformative event focused on
                            Advancing Innovation and Collaboration.
                        </p>

                        <h3 class="blog-bottom-link">
                            Read More
                            <i class="ri-arrow-right-line"></i>
                        </h3>

                    </div>

                </div>

            </div>

            <!-- Blog 3 -->
            <div class="col-4 col-xl-6 col-md-12">

                <div class="blog-contant">

                    <div class="blog-top">
                        <img
                            src="/images/img-3.jpg"
                            alt="Blog Image"
                            width="100%"
                        >
                    </div>

                    <div class="blog-bottom">

                        <h2 class="blog-bottom-title">
                            Advancing Innovation and Collaboration
                        </h2>

                        <p class="blog-bottom-sub-title">
                            Join us for a transformative event focused on
                            Advancing Innovation and Collaboration.
                        </p>

                        <h3 class="blog-bottom-link">
                            Read More
                            <i class="ri-arrow-right-line"></i>
                        </h3>

                    </div>

                </div>

            </div>

        </div>

    </div>
</section>